<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-login">
  <template>
    <style>
    </style>
    <h2>Bienvenido</h2>
    <fieldset>
<legend>Login</legend>
      <form>
        <p><label for="user"></label></p>
        <input type="text" name="us" id="user" value="{{valorEscrito::input}}"
        placeholder="[[placeHolder]]"
        required="[[required]]">
        <p><label for="pass"></label></p>
        <input type="password" name="pass" id="password"
        value="{{valorEscrito2::input}}"
        placeholder="[[placeHolder2]]"
        required="[[required]]">
       <p> <input type="submit" value="Enviar"></p>
      </form>
    </fieldset>
    <hr>
  <span>Usuario: [[valorEscrito]]</span>
  <p><span>Contraseña: [[valorEscrito2]]</span></p>
  </template>

  <script>
    /**
     * `mi-login`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiLogin extends Polymer.Element {
      static get is() { return 'mi-login'; }
      static get properties() {
        return {
          valorEscrito: {
            type: String,
            notify:true
          },
          placeHolder:{
            type:String,
            value:"Usuario"
          },
          placeHolder2:{
            type:String,
            value:"Contraseña"
          },
          required:Boolean,
          valorEscrito2:{
            type:String,
            notify:true
          }
        };
      }
    }

    window.customElements.define(MiLogin.is, MiLogin);
  </script>
</dom-module>
